@page "/display"
@inject DataBuilder data
@inject NavigationManager nvmanager

<PageTitle>Generated Employees</PageTitle>

<h3>Employee List
    <button type="button" class="btn btn-outline-primary" style="float: right" @onclick="LoadData">
        Display More Employees
    </button>
    <button type="button" class="btn btn-outline-primary" style="float: right" @onclick= "() => NavigateToCreate()">
        Create New Employee
    </button>
</h3>                             

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Salary</th>
            <th>Recruitment Year</th>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
            <th>Age</th>
            <th>Position</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var emp in context.Employees)
            {
                <tr>
                    <td>@emp.Id</td>
                    <td>@emp.FirstName</td>
                    <td>@emp.LastName</td>
                    <td>@emp.Salary</td>
                    <td>@emp.Recruitment</td>
                    <td>@emp.Country</td>
                    <td>@emp.City</td>
                    <td>@emp.Street</td>
                    <td>@emp.Age</td>
                    <td>@emp.Position</td>
                    <td>@emp.Email</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" style="float: right" @onclick = "() => Navigation(emp.Id.ToString())">
                            Edit
                        </button>
                    </td>
                </tr>
            }
        </tbody>
</table>


@code {
  
    List<Employee> dbemployee = new();
    BDGDbContext context = new();

    public void LoadData()
    {
        var results = data.GenerateEmployees().Take(10).ToList();
        dbemployee.AddRange(results);
        context.Employees.AddRange(dbemployee);
        context.SaveChanges();
        dbemployee.Clear();
    }

    public void NavigateToCreate()
    {
        nvmanager.NavigateTo("/create");
    }

    public void Navigation(string? employeeId)
    {
        nvmanager.NavigateTo($"/edit/{employeeId}");
    }

}
