@page "/edit/{employeeId}"
@using BlazorDataGenerator.Data
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using System.Threading.Tasks
@using Microsoft.EntityFrameworkCore
@using System.Data.Entity;

<PageTitle>Employee Edit</PageTitle>

<h3>Employee Edit</h3>
 
<table class="table table-striped">
    <thead>
        <tr>
            <th>Key</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td><input type="text" name="Id"  @bind="@employee.Id" :required/></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" name="FirstName"  @bind="@employee.FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" name="LastName"  @bind="@employee.LastName" /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="number" name="Salary" @bind="@employee.Salary" /></td>
        </tr>
        <tr>
            <td>Recruitment</td>
            <td><input type="text" name="Recruitment" @bind="@employee.Recruitment" /></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input type="text" name="Country" @bind="@employee.Country" /></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" name="City" @bind="@employee.City" /></td>
        </tr>
        <tr>
            <td>Street</td>
            <td><input type="text" name="Street" @bind="@employee.Street" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="number" name="Age" @bind="@employee.Age" /></td>
        </tr>
        <tr>
            <td>Position</td>
            <td><input type="text" name="Position" @bind="@employee.Position" /></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" @bind="@employee.Email" /></td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-outline-primary" @onclick="UpdateEmployee">
                    Update Employee
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary" @onclick="DeleteEmployee">
                    Delete Employee
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary" @onclick="CreateEmployee">
                    Create Employee
                </button>
            </td>
        </tr>
    </tbody>
</table>



@code {

    [Parameter]
    public string? employeeId { get; set; } 

    BDGDbContext context = new();

    [BindProperty]
    public Employee employee { get; set; }

    protected override void OnInitialized()
    {
        if(int.TryParse(employeeId,out int id))
        {
            employee = context.Employees.Find(id);
        }

    }

    public void UpdateEmployee()
    {
        
        context.Update(employee);
        context.SaveChanges();
    }

    public void DeleteEmployee()
    {
        context.Remove(employee);
        context.SaveChanges();
    }

    public void CreateEmployee()
    {

        if (employee.Id.ToString() != employeeId || context.Employees.Find(employee.Id) == null)
        {
            context.Add(employee);
            context.SaveChanges();
        }
        else
        {
            UpdateEmployee();
        }

    }

}
